<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Símbolo 18 instancia 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,71}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{70,71}</string>
				<key>spriteSourceSize</key>
				<string>{70,71}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{70,71}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Símbolo 19 instancia 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1508,738}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{1508,738}</string>
				<key>spriteSourceSize</key>
				<string>{1508,738}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{128,0},{1508,738}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Símbolo 20 instancia 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{253,90}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{253,90}</string>
				<key>spriteSourceSize</key>
				<string>{253,90}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,796},{253,90}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Símbolo 24 instancia 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{745,254}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{745,254}</string>
				<key>spriteSourceSize</key>
				<string>{745,254}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{311,796},{745,254}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>copia Símbolo 20 instancia 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{253,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{253,89}</string>
				<key>spriteSourceSize</key>
				<string>{253,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1114,796},{253,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{1836,1336}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>Menu.png</string>
				<key>textureFileName</key>
				<string>Menu</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
